#footer {
    background-color: #000000;
    color: #ffffff;
}

.footer-container {
    display: flex;
    padding: 50px 0;
}

.first-footer-wrapper {
    width: 40%;
    padding-right: 50px;
}

.first-footer-wrapper p{
 font-weight: 500;
font-size: 16px;
line-height: 30px;
margin-bottom: 10px;
}

.footer-logo-wrapper {
 padding-bottom: 20px;
}

.contact-box .bi {
 color: #EBA25D;
 margin-right: 10px;
}

.footer-box ul {
    list-style-type: none;
    border-left: 2px solid #fff;
    padding-left: 20px;
    height:calc(100% - 48px) ;
}

.footer-box ul li {
    margin-bottom: 20px;
}

.footer-box ul a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}

.address {
 display: flex;
}

.call, .email {
 margin-bottom: 10px;
}

.footer-box h5 {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    border-left: 2px solid #eba25d;
    padding-left: 20px;
    padding-bottom: 20px;
}

.footer-box {
    width: 20%;
}

#footer-form {
    border-left: 2px solid #fff;
    padding-left: 20px;
    height:calc(100% - 48px) ;
}

#footer-email {
 width: 100%;
 background: linear-gradient(0deg, #787272, #787272), linear-gradient(0deg, #FFFFFF, #FFFFFF);
 border: 2px solid #fff;
 padding: 10px;
 margin-bottom: 15px;
}

#footer-form p {
 font-weight: 500;
font-size: 18px;
line-height: 28px;
margin-bottom: 20px;
}

#footer-email::placeholder {
 color: #FFFFFF;
}

#footer-name {
 width: 100%;
 background: linear-gradient(0deg, #787272, #787272), linear-gradient(0deg, #FFFFFF, #FFFFFF);
 border: 2px solid #fff;
 padding: 10px;
 margin-bottom: 15px;
}

#footer-name::placeholder {
 color: #FFFFFF;
}

#footer-btn {
 width: 100%;
 background-color: #EBA25D;
 color: #ffffff;
 border: 2px solid #EBA25D;
 padding:  10px ;
 margin-bottom: 30px;

}

.bottom-container {
 text-align: center;
 padding: 10px 0 ;
}

.bottom-container span {
 font-weight: 500;
}
